.header__button {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    line-height: 1.22;
}

@media screen and (max-width: 440px) {
    .header__button {
        font-size: 14px;
        margin-top: 10px;
    }
}